body {

    font: normal 20pt Arial;
    background-image: 
}
header {

    color: rgb(255, 255, 255);
    text-align: center;
    font: normal 20pt Arial;;
}
section {
  
    background: white;
    border-bottom-right-radius: 200px;
    padding: 150px;
    width: 500px;
    margin: 180px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.363);
    font-family: poppins;
   
}


}
footer {
    color: rgb(33, 12, 223);
    text-align: center;
    font-style: italic;

}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


button {


    width: 30px;
   height: 30px;
   

}

.resultado {
    font-size: 60px; 
  

}