body {
    background: rgb(229, 234, 235);
    font: normal 20pt Arial;

}
header {

    color: white;
    text-align: center;
}
section {
    
    background: white;
    border-bottom-right-radius: 20px;
    padding: 25px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
    font-family: ;

}

div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer {
    color: rgb(247, 237, 237);
    text-align: center;
    font-style: italic;

}